*.log
local/
pic/
traindata/
machine/
model/
build/
dist/
debug_icons/
static/
__pycache__/
licensing/
keys/
cnn/icon/
cnn/model_cnn/
cnn/traindata/
joblib/icon/
joblib/icon/model/
joblib/traindata/
~